In [17]:
import pandas as pd

In [38]:
columns = ['id', 'text', 'label']

train_data = pd.read_csv('https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt', names = columns)
test_data = pd.read_csv('https://raw.githubusercontent.com/e9t/nsmc/master/ratings_test.txt', names = columns)

In [39]:
train_data.head()

                                              id text label
0                            id\tdocument\tlabel  NaN   NaN
1                9976970\t아 더빙.. 진짜 짜증나네요 목소리\t0  NaN   NaN
2  3819312\t흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나\t1  NaN   NaN
3                 10265843\t너무재밓었다그래서보는것을추천한다\t0  NaN   NaN
4      9045019\t교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정\t0  NaN   NaN

위의 결과를 보면 \t를 기준으로 id / text / label 로 분류되어있다. 따라서 데이터를 가져올때 \t를 기준으로 분류
또한 0번째 인덱스에 id / documnet / label 이라는 label이 담겨져 있기 때문에 이부분을 건너 띄어야 한다.

In [40]:
train_data = pd.read_csv('https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt', names = columns, sep='\t', skiprows=1)
train_data.head()

         id                                               text  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [41]:
train_data.count()

id       150000
text     149995
label    150000
dtype: int64

In [42]:
train_data.isnull().sum()

id       0
text     5
label    0
dtype: int64

NaN값(null)값이 text에 5개 들어있기 때문에 이부분은 제외해준다

In [43]:
train_data = train_data.dropna(axis=0)

In [44]:
train_data.count()

id       149995
text     149995
label    149995
dtype: int64

In [48]:
train_data.to_csv('C:\\Users\\abc\\jupyter\\pytorch\\train_data.csv', index=False)
test_data.to_csv('C:\\Users\\abc\\jupyter\\pytorch\\test_data.csv', index=False)

In [45]:
from eunjeon import Mecab
mecab = Mecab()

In [46]:
import torch
from torchtext import data

TEXT = data.Field(tokenize = mecab.morphs)
LABEL = data.LabelField(dtype = torch.float)

In [47]:
fields = {'text' : ('text',TEXT), 'label': ('label', LABEL)}

In [49]:
train_data, test_data = data.TabularDataset.splits(
    path = 'C:\\Users\\abc\\jupyter\\pytorch',
    train = 'train_data.csv',
    test = 'test_data.csv',
    format = 'csv',
    fields = fields)

In [50]:
vars(train_data[0])

{'text': ['아', '더빙', '.', '.', '진짜', '짜증', '나', '네요', '목소리'], 'label': '0'}

# sklearn.model_selection import train_test_split

- train / valid / test로 나누는 것

# konlpy의 okt로 분류

In [56]:
from konlpy.tag import Okt
okt = Okt()

In [57]:
columns = ['id', 'text', 'label']

train_data = pd.read_csv('https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt', names = columns, sep='\t', skiprows=1).dropna()
train_data.head()

         id                                               text  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [74]:
token = okt.morphs(train_data['text'][1])

In [75]:
print(token)

['흠', '...', '포스터', '보고', '초딩', '영화', '줄', '....', '오버', '연기', '조차', '가볍지', '않구나']