In [13]:
import pandas as pd

columns = ['id', 'text', 'label']
train_data = pd.read_csv('https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt', sep='\t', names=columns, skiprows=1).dropna()
test_data = pd.read_csv('https://raw.githubusercontent.com/e9t/nsmc/master/ratings_test.txt', sep='\t', names=columns, skiprows=1).dropna()

In [14]:
train_data.head()

         id                                               text  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [15]:
test_data.head()

        id                                               text  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

In [16]:
train_data.to_csv('C:\\Users\\abc\\jupyter\\pytorch\\train_data.csv', index=False)
test_data.to_csv('C:\\Users\\abc\\jupyter\\pytorch\\test_data.csv', index=False)

In [22]:
# konlpy.tag import Mecab을 설치하였는데 실행이 안되어서 eunjeon으로 대신 설치
from eunjeon import Mecab
mecab = Mecab()

In [24]:
print(mecab.morphs('이 밤 그날의 반딧불을 당신의 창 가까이 보낼게요'))

['이', '밤', '그날', '의', '반딧불', '을', '당신', '의', '창', '가까이', '보낼', '게요']

In [25]:
import torch
from torchtext import data

TEXT = data.Field(tokenize = mecab.morphs)
LABEL = data.LabelField(dtype = torch.float)

In [26]:
fields = {'text':('text',TEXT), 'label':('label',LABEL)}
# csv컬럼명 : (데이터 컬럼명, field이름)

In [30]:
train_data, test_data = data.TabularDataset.splits(
    path = 'C:\\Users\\abc\\jupyter\\pytorch',
    train = 'train_data.csv',
    test = 'test_data.csv',
    format = 'csv',
    fields = fields)

In [31]:
vars(train_data[0])

{'text': ['아', '더빙', '.', '.', '진짜', '짜증', '나', '네요', '목소리'], 'label': '0'}